<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's Sweet & Savory Treats</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
      <div class="navbar-nav">
        <a class="nav-item nav-link active text-light" id ="navCenter" href="/">Home |</a>
        <a class="nav-item nav-link text-light" id ="navCenter" href="/treats">Treats |</a>
        <a class="nav-link nav-link text-light" id ="navCenter" href="/treats/create">Add a Treat |</a>
        <a class="nav-item nav-link text-light" id ="navCenter" href="/flavors">Flavors |</a>
        <a class="nav-item nav-link text-light" id ="navCenter" href="/flavors/create">Add a Flavor |</a>
        <a class="nav-item nav-link text-light" id ="navCenter" href="/account">Account |</a>
      </div>
    </nav>

    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>