body {
  background: lightblue;
}

h1 {
  text-align: center;
}

h5 {
  font-style: italic;
  text-align: left;
}

.splashImg {
  background-image: url("");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}