body {
  background: lightblue;
}

h1 {
  text-align: center;
}

h5 {
  font-style: italic;
  text-align: right;
}

.splashImg {
  background-image: url("https://images.unsplash.com/photo-1561527090-a1e625ff3cc6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}